.prev_next {
    display: flex;
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    padding: 30px 0 30px 0;
    margin-top: 30px;
}
.prev_next h2 {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.prev_next_left p::before {
    content: '';
    background: #E1E1E2;
    position: absolute;
    left: 0;
    width: 10px;
    height: 50px;
}
.prev_next_left p {
    position: relative;
    padding: 15px 0 0px 30px;
}
.prev_right p::before {
    background: #005ab5;
}
.prev_right p {
    font-weight: 700;
}
.prev_right {
    margin-left: 100px;
}